@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------- */
/*   COLOR VARIABLES            */
/* ---------------------------- */

@layer base {
  :root {
    --background: oklch(0.98 0 0);
    --foreground: oklch(0.15 0 0);
    --primary-text: rgba(20, 67, 91);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.15 0 0);

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.15 0 0);

    /* --primary: rgba(36, 171, 213); */
     --primary: rgba(0, 173, 238);
    --primary-foreground: rgba(9, 162, 211);

    --secondary: rgba(71, 173, 196);
    --secondary-foreground: rgba(60, 154, 177);
    --secondary-ligh: rgba(124, 207, 222);

    --muted: oklch(0.93 0 0);
    --muted-foreground: oklch(0.50 0 0);

    --accent: oklch(0.55 0.12 150.4);
    --accent-foreground: oklch(1 0 0);

    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);

    --border: oklch(0.92 0 0);
    --input: oklch(0.97 0 0);
    --ring: oklch(0.42 0.12 200.5);

    --chart-1: oklch(0.42 0.12 200.5);
    --chart-2: oklch(0.55 0.12 150.4);
    --chart-3: oklch(0.50 0.08 210.8);
    --chart-4: oklch(0.60 0.10 180);
    --chart-5: oklch(0.48 0.09 195);

    --radius: 0.5rem;

    --sidebar: rgba(229, 244, 249);
    --sidebar-foreground: oklch(0.15 0 0);
    --sidebar-primary: oklch(0.42 0.12 200.5);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.55 0.12 150.4);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.88 0.01 200);
    --sidebar-ring: oklch(0.42 0.12 200.5);
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border;
  }
}

/* Optional: Remove default margin padding */
html, body {
  margin: 0;
  padding: 0;
}
